@page "/Car-List"
@using Radzen.Blazor
@using Radzen
@using System.Collections
@using System.ComponentModel.DataAnnotations
@using carv1.Client.Model


<div id="sidebar">
    <a href="/Car-List">
        <div class="brand">
            <img src="https://www.freepnglogos.com/uploads/hyundai-logo-15.gif" alt="Hyundai">
            <span onclick="@HyundaiClicked">Hyundai</span>

         
        </div>
    </a>
    <a href="/Car-List">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Ford-Motor-Company-Logo.png/1200px-Ford-Motor-Company-Logo.png" alt="Ford">
            <span onclick="@FordClicked">Ford </span>
        </div>
    </a>
    <a href="/Car-List">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Mercedes-Logo.svg/2048px-Mercedes-Logo.svg.png" alt="Mercedes">
            <span onclick="@MercedesClicked">Mercedes</span>
        </div>
    </a>
    <a href="/Car-List">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Nissan_2020_logo.svg" alt="Nissan">
            <span onclick="@NissanClicked">Nissan</span>
        </div>
    </a>
    <a href="/Car-List">
        <div class="BMW">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="BMW">
            <span onclick="@BmwClicked">BMW</span>
        </div>
    </a>
    <br>
    <br>
    <br>
    <a href="/userlist">
        <div class="Geri">
            <img  src="https://cdn-icons-png.flaticon.com/512/0/340.png" alt="BMW">
           
        </div>
    </a>
</div>











<div class="main">

    <div style="width: 100%;">
        <style>
            .dropdown-wrapper {
                display: flex;
                justify-content: flex-start;
                transform: rotate(-90deg);
                transform-origin: left top;
            }

                .dropdown-wrapper .dropdown-content {
                    transform: rotate(90deg);
                    transform-origin: left top;
                }
        </style>








        @if (isHyundaiClicked)
        {


          

            <div class="rz-p-sm-12 rz-text-align-left">
                <RadzenDropDown @bind-Value=@value1 Data=@GetCarData() Style="width: 100%; max-width: 400px;" />
            </div>

            if (value1 == "Hyundai Bayon")
            {


                @foreach (var car in GetCarDataN())
                {
                    <RadzenStack Orientation="Orientation.Vertical" Gap="3rem" class="rz-p-12 animate-in-right">

                        <RadzenImage Path="https://www.hyundai.com/content/dam/hyundai/tr/tr/images/find-a-car/pip/bayon/bayon_og_image.jpg" Style="width: 60%; float: right; height: auto; margin-left:10%; margin-right:10%;" />

                     
                    </RadzenStack>

                    
                }

          
                
                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Right" class="animate-in-right">

                    <strong>Hyundai Bayon</strong><br /> Segmentindeki dengeleri değiştirmeye geldi. Hyundai'nin ödüllü SUV ailesinin genlerini taşıyan BAYON, şık stili, geniş iç hacmi ve sahip olduğu akıllı teknolojilerle uzun bir özellik listesi sunarak segmentindeki dengeleri tamamen değiştiriyor.
                </RadzenText>
               

          




            }

        }
















        @if (isFordClicked)
        {


            <p>@("Ford tıklandı!")</p>

            <div class="rz-p-sm-12 rz-text-align-left">
                <RadzenDropDown @bind-Value=@value1 Data=@GetCarDataF() Style="width: 100%; max-width: 400px;" />
            </div>

            if (value1 == "Ford Kuga")
            {


                @foreach (var car in GetCarDataF())
                {
                    <RadzenStack Orientation="Orientation.Vertical" Gap="3rem" class="rz-p-12 animate-in-right">

                        <RadzenImage Path="https://www.pngmart.com/files/22/Ford-Kuga-PNG-Transparent.png" Style="width: 50%; float: right; height: auto; margin-left:10%; margin-right:10%;" />

                      
                         
                      


                    </RadzenStack>
                }

                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Right" class="animate-in-right">
                    <strong>Ford Kuga</strong><br /> Tasarım ve Teknolojinin mükemmel birleşimi.
                    Çarpıcı tasarımı, verimli ve çevreci motor seçenekleri, rafine ve ergonomik iç dizaynı, ileri teknolojileri ve aktif yaşam tarzına uyum sağlayan yapısı ile Kuga otomobil severlerin bir SUV’den beklediklerinin çok daha fazlasını sunuyor.
                </RadzenText>







            }

        }


        @if (İsNissanClicked)
        {


            <p>@("Nissan tıklandı!")</p>

            <div class="rz-p-sm-12 rz-text-align-left">
                <RadzenDropDown @bind-Value=@value1 Data=@GetCarDataN() Style="width: 100%; max-width: 400px;" />
            </div>



            if (value1 == "Nissan Qashqai")
            {


                @foreach (var car in GetCarDataN())
                {
                    <RadzenStack Orientation="Orientation.Vertical" Gap="3rem" class="rz-p-12 animate-in-right">

                        <RadzenImage Path="https://www.pngkit.com/png/full/821-8212979_suv-png-nissan-qashqai-2018-png.png" Style="width: 70%; float: right; height: auto; margin-left:10%; margin-right:10%;" />

                      
                          
                        

                    </RadzenStack>
                }


                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Right" class="animate-in-right">
                    <strong>Nissan Qashqaih</strong><br /> Size Özel Alanlar Hiç Bu Kadar Kişiselleştirilebilir Olmamıştı
                </RadzenText>




            }

        }

        @if (isBmwClicked)
        {


            <p>@("BMW tıklandı!")</p>

            <div class="rz-p-sm-12 rz-text-align-left">
                <RadzenDropDown @bind-Value=@value1 Data=@GetCarDataBMW() Style="width: 100%; max-width: 400px;" />
            </div>



            if (value1 == "BMW i8")
            {

                  
                    @foreach (var car in GetCarDataBMW())
                    {
                    <RadzenStack Orientation="Orientation.Vertical" Gap="3rem" class="rz-p-12 animate-in-right">

                        <RadzenImage Path="https://www.freeiconspng.com/uploads/posted-on-saturday-march-31st-2012in-bmw--tags-bmw--i8-concept-9.png" Style="width: 50%; float: right; height: auto; margin-left:10%; margin-right:10%;" />

                      
                        </RadzenStack>
                     }

                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Right" class="animate-in-right">
                    <strong>BMW İ8</strong><br /> ilerici tasarımın, sürdürülebilir ve dinamik sürüş keyfinin öncüsü olan BMW i8 Coupé ve BMW i8 Roadster, üretim sürecini tamamladı. BMW’nin ilk plug-in hybrid modeli olan BMW i8, dünyanın en başarılı elektrikli spor otomobili olarak şirket tarihine geçti. Bu ilham verici öyküyü birlikte keşfedelim.
                </RadzenText>





             }

        }



        @if (isMercedesClicked)
        {


            <p>@("Mercedes tıklandı!")</p>

            <div class="rz-p-sm-12 rz-text-align-left">
                <RadzenDropDown @bind-Value=@value1 Data=@GetCarDataM() Style="width: 100%; max-width: 400px;" />
            </div>


            if (value1 == "Mercedes Maybach")
            {


                @foreach (var car in GetCarDataM())
                {
                    <RadzenStack Orientation="Orientation.Vertical" Gap="3rem" class="rz-p-12 animate-in-right">

                        <RadzenImage Path="https://freepngimg.com/thumb/mercedes_benz/36591-8-mercedes-benz-transparent.png" Style="width: 50%; float: right; height: auto; margin-left:10%; margin-right:10%;" />

                       
                           
                       
                            
                     
                    </RadzenStack>
                }

                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Right" class="animate-in-right">
                    <strong>Mercedes Maybach</strong><br /> Modern lüksün en sofistike hali.
                </RadzenText>





            }



        }

    </div>

    

  
    <style>
        @@keyframes slide-in-right {
            0% {
                opacity: 0;
                transform: translateX(100%);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .animate-in-right {
            animation: slide-in-right 0.5s forwards;
        }
    </style>


</div>


<style>

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #9BCDD2;
        overflow-x: hidden;
        padding-top: 20px;
    }

        #sidebar a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            transition: 0.3s;
        }

            #sidebar a:hover {
                background-color: #555;
            }

        #sidebar img {
            width: 80px;
            height: auto;
            margin-bottom: 10px;
            transition: 0.3s;
        }

            #sidebar img:hover {
                transform: scale(1.2);
            }


        #sidebar .brand img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
</style>


@code {

    public bool isFordClicked = false;
    public bool İsNissanClicked = false;
    public bool isMercedesClicked = false;
    public bool isBmwClicked = false;
    public bool isHyundaiClicked = false;


    public void HyundaiClicked()
    {
        isHyundaiClicked = true;
        isFordClicked = false;
        İsNissanClicked = false;
        isMercedesClicked = false;
        isBmwClicked = false;
        value1 = "";
    }

    public void FordClicked()
    {
        isHyundaiClicked = false;
        isFordClicked = true;
        İsNissanClicked = false;
        isMercedesClicked = false;
        isBmwClicked = false;
        value1 = "";
    }


    public void NissanClicked()
    {
        isHyundaiClicked = false;
        isFordClicked = false;
        İsNissanClicked = true;
        isMercedesClicked = false;
        isBmwClicked = false;
        value1 = "";
    }


    private void MercedesClicked()
    {
        isHyundaiClicked = false;
        isFordClicked = false;
        İsNissanClicked = false;
        isMercedesClicked = true;
        isBmwClicked = false;
        value1 = "";
    }

    private void BmwClicked()
    {
        isHyundaiClicked = false;
        isFordClicked = false;
        İsNissanClicked = false;
        isMercedesClicked = false;
        isBmwClicked = true;
        value1 = "";
    }



    string value1;













    private IEnumerable<string> GetCarData()
    {
        List<Cars> cars = new List<Cars>
    {
        new Cars
        {
            Name = "Hyundai Bayon",
        }


    };

        return cars.Select(car => car.Name);
       
    }



    private IEnumerable<string> GetCarDataF()
    {
        List<Cars> cars = new List<Cars>
    {
        new Cars
        {
            Name = "Ford Kuga",
        }


    };

        return cars.Select(car => car.Name);
    }


    private IEnumerable<string> GetCarDataN()
    {
        List<Cars> cars = new List<Cars>
    {
        new Cars
        {
            Name = "Nissan Qashqai",
        }


    };

        return cars.Select(car => car.Name);
    }


    private IEnumerable<string> GetCarDataM()
    {
        List<Cars> cars = new List<Cars>
    {
        new Cars
        {
            Name = "Mercedes Maybach",
        }


    };

        return cars.Select(car => car.Name);
    }



    private IEnumerable<string> GetCarDataBMW()
    {
        List<Cars> cars = new List<Cars>
    {
        new Cars
        {
            Name = "BMW i8",
         }


    };

        return cars.Select(car => car.Name);
    }
}
